$maincolor_first: #00a6a6;
$maincolor_second: #efca08;
$maincolor_third: #fff;
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(68, 67, 67);
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: rgb(68, 67, 67);
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #7a7979;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: $maincolor_first;
    border-radius: 8px;
    border: 1px solid #7a7979;
}