$maincolor_first: #00a6a6;
$maincolor_second: #efca08;
$maincolor_third: #fff;
.autocomplete-wrap {
    position: relative;
    width: 100%;
    // width: 300px;
}

.autocomplete-input {
    width: 100%;
}

.autocomplete-list {
    position: absolute;
    top: 100%;
    border: 1px solid transparent;
    width: 100%;
    display: none;
    z-index: 9999;
    max-height: 400px;
    overflow-y: auto;
    background-color: rgb(250, 249, 249);
    ;
}

.autocomplete-wrap.active .autocomplete-list {
    display: block;
    border-radius: 0 0 3px 3px;
}

.autocomplete-item {
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
    color: rgb(46, 46, 46);
}

.autocomplete-item:hover,
.autocomplete-item.focused {
    background: $maincolor_second;
}

.autocomplete-wrap.active .autocomplete-input {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid transparent;
}