.header__restaurant {
    position: relative;
    width: 100%;
    height: 130px;
}

.header_wrapper__restaurant {
    justify-content: center;
    .logo {
        font-size: 45px;
    }
}

.main__restaurant {
    height: 100vh;
}