$maincolor_first: #00a6a6;
$maincolor_second: #efca08;
$maincolor_third: #fff;
// box-shadow: 0 0 10px rgba(0, 0, 0, .1);
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 97px;
    border-bottom: 1px solid beige;
    background-color: $maincolor_third;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    .wrapper {
        align-items: center;
        width: 100%;
    }
}

.logo {
    font-family: Georgia;
    margin-right: 4px;
    font-size: 26px;
    color: #FFFFFF;
    text-shadow: -0 -2px 1px #F49F0A, 0 -2px 1px #F49F0A, -0 2px 1px #F49F0A, 0 2px 1px #F49F0A, -2px -0 1px #F49F0A, 2px -0 1px #F49F0A, -2px 0 1px #F49F0A, 2px 0 1px #F49F0A, -1px -2px 1px #F49F0A, 1px -2px 1px #F49F0A, -1px 2px 1px #F49F0A, 1px 2px 1px #F49F0A, -2px -1px 1px #F49F0A, 2px -1px 1px #F49F0A, -2px 1px 1px #F49F0A, 2px 1px 1px #F49F0A, -2px -2px 1px #F49F0A, 2px -2px 1px #F49F0A, -2px 2px 1px #F49F0A, 2px 2px 1px #F49F0A, -2px -2px 1px #F49F0A, 2px -2px 1px #F49F0A, -2px 2px 1px #F49F0A, 2px 2px 1px #F49F0A;
}

.fa-yelp {
    color: #FFFFFF;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    // flex-wrap: wrap;
    padding: 10px 0;
}

.searching {
    height: 48px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    padding-left: 5px;
    margin: 0 15px 0;
}

.input_searching {
    width: 100%;
    height: 25px;
    border: none;
    padding-left: 3px;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    & option:hover {
        cursor: pointer;
        background-color: $maincolor_first;
    }
}

.link_header {
    display: flex;
    max-width: 365px;
    justify-content: space-between;
    width: 100%;
}

.box_type_restaurant {
    display: none;
    position: absolute;
    top: 45px;
    transition: all 3s;
    right: 3px;
}

.type_restaurant {
    border-top: 4px solid $maincolor_second;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(250, 249, 249);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
    width: 290px;
    height: 150px;
    padding: 5px;
    z-index: 1;
    transition: 1s;
    .titleRestaurant {
        font-size: 20px;
        color: rgb(102, 101, 101);
        padding: 10px;
        font-weight: 600;
    }
    .titleRestaurant:hover {
        cursor: pointer;
        background-color: rgb(180, 178, 178);
        border-radius: 5px;
        color: rgb(56, 55, 55);
    }
    .titleRestaurant_active {
        background-color: rgb(180, 178, 178);
        border-radius: 5px;
        color: rgb(56, 55, 55);
    }
}

.box_type_active {
    display: block;
}

.searching_restaurant {
    border-right: 3px solid $maincolor_second;
}

.fa-search {
    padding: 12px;
    background-color: $maincolor_first;
    font-size: 25px;
    color: $maincolor_third;
    border-radius: 0 5px 5px 0;
}

.navigation_link {
    font-size: 18px;
    color: rgb(102, 101, 101);
    font-weight: 600;
    padding: 5px;
    position: relative;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.button_wrapper {
    position: absolute;
    right: 15px;
    top: 10px;
}

.button_header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: $maincolor_third;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: all .5s;
    &:hover {
        cursor: pointer;
    }
}

.sign-up {
    background-color: $maincolor_first;
    &:hover {
        color: rgb(88, 86, 86);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
}

.log-in {
    color: rgb(136, 135, 135);
    &:hover {
        color: rgb(71, 71, 71);
        background-color: rgb(204, 203, 203);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }
}