$maincolor_first: #00a6a6;
$maincolor_second: #efca08;
$maincolor_third: #fff;
.main_restaurants {
    padding-top: 100px;
    height: 100vw;
    height: 100%;
}

.main_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.restaurants_wrapper {
    margin: 2px;
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 300px;
    margin: 50px 0 0 10px;
    color: rgb(68, 67, 67);
}

.filter_box {
    border: 2px solid rgb(201, 201, 181);
    border-radius: 15px;
    padding: 5px 10px;
    margin: 2px;
    transition: .3s;
    &.filter_active {
        background-color: $maincolor_first;
        color: $maincolor_third;
    }
    &:hover {
        cursor: pointer;
        color: $maincolor_third;
        background-color: $maincolor_first;
    }
}

.cards_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    color: rgb(68, 67, 67);
    & .hidden {
        display: none;
    }
}

.card {
    border-radius: 5px;
    padding: 15px;
    border: 1px solid rgb(201, 201, 181);
    min-width: 290px;
    overflow: hidden;
    margin: 7px;
    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
}

.card_restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.food {}

.image_food {
    width: 100%;
    max-width: 260px;
    height: 250px;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}

.title_card:hover {
    text-decoration: underline;
}

.about_restaurant {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    .title_card {
        text-align: center;
    }
}

.rating_restaurant {
    font-size: 18px;
    color: $maincolor_second;
}

.menu_restaurant {
    margin-top: 15px;
    font-style: italic;
}

.reviewsRestaurants {}

.priceRestaurant {
    display: block;
    font-weight: 600;
}

.service_restaurant {
    display: flex;
    flex-wrap: wrap;
    & span {
        color: #fff;
        background-color: $maincolor_first;
        border-radius: 5px;
        padding: 3px 5px;
        margin: 2px;
    }
}

.phon_restaurant {
    display: block;
    margin-top: 20px;
    font-style: italic;
}

.address_restaurant {
    display: block;
}

.map-wrapper {
    background-color: $maincolor_first;
    margin: 2px;
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    right: 0;
    top: 0;
    position: relative;
    // bottom: 0;
}

#map {
    position: fixed;
    top: 0;
    max-width: 400px;
    width: 100%;
    // height: 100%;
}

//scrollUp
.fa-angle-double-up {
    font-size: 30px;
}

#toTop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: -20px;
    width: 40px;
    height: 40px;
    z-index: 1000;
    cursor: pointer;
    text-align: center;
    color: $maincolor_second;
    border-radius: 50px;
    background: $maincolor_first;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .2);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

#toTop:hover {
    color: $maincolor_first;
    background: $maincolor_second;
}

// #toTop svg {
//     position: relative;
//     top: 12px;
//     right: -1px;
//     fill: #fff;
//     transition: all .3s ease-in-out;
// }
// #toTop:hover svg {
//     cursor: pointer;
//     fill: #fff;
//     transition: all .3s ease-in-out;
// }
#toTop.show {
    opacity: 1;
    visibility: visible;
    right: calc(2%);
}